@charset "UTF-8";
*{margin: 0; padding: 0;}
head{margin: 0;	padding: 0;	}
html, body {margin: 0; padding: 0;}
a {text-decoration: none;}
.main {margin-bottom: 50px;}
.container { width:100%; min-width:1903px; height:100%; min-height:637px; margin: 0; padding: 0;}
.container {width:100%; min-width:1903px; height:100%; min-height:300px; }
.noticeBanner img {width: 100%;}
.noticeBanner{width: 100%; height: 200px;}
.noticeBoard{margin: 0 auto; width: 80%; height: auto; min-height: 500px;}
.noticeTable {width: 980px; margin: 35px auto 0;}
.noticeTable tr{border-bottom: 1px solid lightgray; height: 45px;}
.noticeTable tr:first-child{border-bottom: 3px solid lightgray;}
.noticeNo,.noticeDate,.adminName {text-align: center; font-size: 14px; font-weight: 500;}
.noticeTitle span,.noticeTitle_answer spann {color: #666; font-size: 14px; font-weight: 500; margin-right: 5px;}
.noticeTable a{	color: black; text-decoration: none; font-weight: 500;}
.noticeTable tr th{	background-color: #f1f1f1; text-align: center;}
.noticeTable tr:nth-child(n+2):hover{background: lightgray;}
.noticeTitle {text-align: left;}
.noticeSearchForm{text-align: center;}
button{float: right;}
/* input search창 X표 지우기 */
input::-ms-clear,input::-ms-reveal{display:none; width:0; height:0;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none;}

.subpageBar {height: 51px;}
.subpageBar ul{margin:0 auto; max-width:1440px; padding:0 80px; text-align:center; font-size:0; box-sizing:border-box;}
.subpageBar ul li{position:relative; display:inline-block; margin:0 3.5%;}
.subpageBar ul li a{box-sizing:border-box; position:relative; display:block; padding:0 3px; height:51px; line-height:51px; font-size:15px;  letter-spacing:-0.5px; font-weight:700; color:#80888b; text-decoration: none;}
.subpageBar ul li.on a{font-weight:bold; color:#2d2f39;}
.subpageBar ul li a:hover{color:#2d2f39;}
.subpageBar ul li.on a:after{display:block; content:""; position:absolute; left:0; bottom:0; width:100%; height:3px; background:#2e3248;}

.paging {width: 980px; height: auto; margin: 0 auto; padding: 15px 0;}
.paging a{ margin-right:3px; padding:0; width:32px; height:32px; line-height:32px; text-align:center; border-radius:3px; background-color:#eef3fd; font-size: 12px; color:#666; border:none; cursor:pointer; box-sizing: border-box; transition:all 0.3s; display: inline-block; font-size: 12px; text-decoration: none;}
.paging strong{margin-right:3px; width:32px; height:32px; text-align:center; padding:0; line-height:32px; border-radius:3px; background-color:#2d2f39; border:none; box-sizing:border-box; display: inline-block; color: white; font-size: 12px;}
.noticeSearchForm {width: 980px; height: 38px; margin: 0 auto;}


.noticeWrite{width: 80%; margin-left: 260px; min-height: 900px}
.noticeWrite input{ height: 35px; width: 100%; margin-bottom: 20px; border-radius:3pt;}
.noticeWrite_btn{height:40px; text-align:right; margin-left: 20px;}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {height: 500px;}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {height: 500px;}
.noticeMenu{width: 100%; height: 38px; margin: 30px 0 30px 260px;}